        <div id="footer">
                <p>Trademark YelpCamp 2016. All Rights Reserved</p>
                <p>YelpCamp created in <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview" target="_blank">The Web Developer Bootcamp</a> by Colt Steele</p>
        </div>
</body>
</html>