        <div id="footer">
                <p>Trademark YelpCamp 2016. All Rights Reserved</p>
                <p>YelpCamp created in <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview" target="_blank">The Web Developer Bootcamp</a> by Colt Steele</p>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>