<% include partials/header %>

<div class="jumbotron">
    <div>
        <h1>Welcome to YelpCamp!</h1>
        <p>Discover and Review Campsites from all over the United States!</p>
        <p><a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View All Campgrounds</a></p>
    </div>
</div>
<section>
    <div class="container">
        <h1>About</h1>
        <p>Welcome to YelpCamp, a fictional website for reviewing different campsite throughout the United States. Take a look at all the available campgrounds, and feel free to add your own!</p>
        <p>Bacon ipsum dolor amet pork sirloin shoulder, shankle boudin salami brisket ribeye pancetta capicola alcatra. Tri-tip sirloin boudin, drumstick fatback prosciutto chicken filet mignon salami brisket tenderloin. Boudin pork loin pork, andouille sausage tail beef ribs beef short ribs shankle. Sausage ham hock tri-tip, meatball turkey corned beef kevin tail ground round strip steak. Jowl prosciutto kevin spare ribs kielbasa ribeye. Flank bresaola venison, boudin shoulder jowl frankfurter spare ribs ham hock pancetta pork chop.</p>
        <p>Short loin pork pork loin venison ham hock chuck brisket bresaola doner bacon strip steak hamburger. Rump tri-tip pork meatloaf bresaola beef, shank kevin pig brisket hamburger landjaeger ribeye. Alcatra pork chop turkey, salami bacon frankfurter filet mignon. Flank venison corned beef chicken jerky. Ham chicken cow turkey beef shoulder.</p>
        <p>Ground round alcatra chicken, tenderloin ribeye ball tip jerky ham. Biltong bresaola pancetta strip steak short loin ground round. Shankle ham pastrami bacon, leberkas biltong frankfurter doner sirloin. Spare ribs burgdoggen landjaeger kevin filet mignon alcatra salami turkey doner jerky meatloaf.</p>
        <p>Don't have an account? <a href="/register">Sign up</a>!</p>
    </div>
</section>

<% include partials/footer %>