<% include partials/header %>

<div class="jumbotron">
    <div>
        <h1>Welcome to YelpCamp!</h1>
        <p>Discover and Review Campsites from all over the United States!</p>
        <p><a class="btn btn-primary btn-lg" href="/campgrounds" role="button">View All Campgrounds</a></p>
    </div>
</div>
<section>
    <div class="container">
        <h1>About</h1>
        <p>Welcome to YelpCamp, a fictional website for reviewing different campsite throughout the United States. Take a look at all the available campgrounds, and feel free to add your own!</p>
        <p>Don't have an account? <a href="/register">Sign up</a>!</p>
    </div>
</section>

<% include partials/footer %>